body{
	background-color: white;
}

img{
	margin-left: -106px; 
	width: 187px
}

.tituloNome{
     font-size: 110px;
	margin-top: -56px;
}

.topo{
	margin-top: 5px;
	text-align: center;
}

.titulo{
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 70px;
    text-align: center;
}

.rodape{
	padding: 2% 0 0 2%;
}

.texNegrito{
    color: red;
}

.link{

}

.texto{
	color: #000000;
	margin: 10px 25px 25px;
}

p{
	margin-top: 30px; 
	margin-bottom: 30px;
}

.barra{
	background-color: black;
	padding-top: 4px;
}

.rodapeCentro{
    margin-left: 450px;
    margin-top: -18px;
    text-align: center;
    width: 400px;
}

.rodapeDireita{
    margin: -32px 0 0 860px;
    text-align: right;
    width: 450px;
}

.rodapeEsquerda{
	text-align: left;
	width: 400px;
}
