
{% extends 'base.html' %}
{% block content %}
<div class="titulo">Bem vindo ao Eventex!</div>
<div class="texto">
	<p>
		O Evento mais sensacional do ano depois do Dev in Rio e do Dev in Cachu! :D			
	</p>
	<p>
		Você não pode perder esta oportunidade!
	</p>
	<p>	
		<font class="texNegrito">
			<strong><a href="{% url subscription:subscribe %}">Inscreva-se Já!</a></strong>
		</font>
	</p>
	<p>
		Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@rrmartins.com">eventex@eventex.com.br</a>
	</p>
</div>
{% endblock content %}

