<html>
	<head>
		<title>EventeX! - Rodrigo Martins</title>
		<link rel="stylesheet" href="{{	STATIC_URL }}css/style.css" type="text/css" /> 
	</head>
	<body>
		<div class="topo"><img src="{{STATIC_URL}}/img/topo.gif"></div>
		<div class="barra"></div>
		<div class="titulo">Bem vindo ao Eventex!</div>
		<div class="texto">
			<p>
				O Evento mais sensacional do ano depois do Dev in Rio e do Dev in Cachu! :D			
			</p>
			<p>
				Você não pode perder esta oportunidade!
			</p>
			<p>	
				<font class="texNegrito">
					<strong>Abertura das inscrições em 21/08/2011.</strong>
				</font>
			</p>
			<p>
				Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@rrmartins.com">eventex@eventex.com.br</a>
			</p>
		</div>
		<div class="barra"></div>
		<div class="rodape">
			<div class="rodapeEsquerda">
				@2011, <a href="#">EventeX!</a>, some rights reserved.
			</div>
			<div class="rodapeCentro">

			</div>
			<div class="rodapeDireita">

			</div>
		</div>
	</body>
</html>
